html, body {
	overflow-x: hidden;
}

.hezuo {
	padding-bottom: 40px;
}

.hezuo .yin {
	text-align: center;
	margin: 0;
	z-index: 10;
	font-weight: bold;
	text-transform: uppercase;
}

.hezuo h1 {
	text-align: center;
	position: relative;
	font-size: 40px;
	margin-top: 80px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.hezuo h1:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 30px;
	height: 2px;
	background: #313131;
	left: 50%;
	margin-left: -15px;
}

.qr-code {
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.ws-footer {
	padding: 30px 15px;
	line-height: 30px;
	text-align: center;
	color: #777;
	box-shadow: _vwPC(0) _vwPC(10) _vwPC(20) rgba(67, 160, 160, .2)
}

.btn-weibo {
	border: none;
	color: white;
	;
    margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	font-size: 16px;
	cursor: pointer;
	background-image: url("../img/icon/weibo.svg");
	background-color: #1d2d44;
	background-size: 32px auto;
	background-repeat: no-repeat;
}

.btn-twi {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	font-size: 16px;
	cursor: pointer;
	background-image: url("../img/icon/twi.svg");
	background-color: #1d2d44;
	background-size: 32px auto;
	background-repeat: no-repeat;
}

.btn-xhs {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	font-size: 16px;
	cursor: pointer;
	background-image: url("../img/icon/xhs.svg");
	background-color: #1d2d44;
	background-size: 32px auto;
	background-repeat: no-repeat;
}

.btn-bili {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	font-size: 16px;
	cursor: pointer;
	background-image: url("../img/icon/bili.svg");
	background-color: #1d2d44;
	background-size: 32px auto;
	background-repeat: no-repeat;
}

.btn-ytb {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	font-size: 16px;
	cursor: pointer;
	background-image: url("../img/icon/ytb.svg");
	background-color: #1d2d44;
	background-size: 32px auto;
	background-repeat: no-repeat;
}

.btn-wyy {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	font-size: 16px;
	cursor: pointer;
	background-image: url("../img/icon/wyy.svg");
	background-color: #1d2d44;
	background-size: 32px auto;
	background-repeat: no-repeat;
}

.btn-qqmusic {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	font-size: 16px;
	cursor: pointer;
	background-image: url("../img/icon/qqmusic.svg");
	background-color: #1d2d44;
	background-size: 32px auto;
	background-repeat: no-repeat;
}

@media screen and (max-width:400px) {
	.swiper {
		width: 100%;
		height: 170px;
		--swiper-pagination-color: #16baaa;
		--swiper-navigation-color: #ffffff;
		--swiper-navigation-size: 30px;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.footer-line {
		width: 80%;
		margin: auto;
	}
}

@media screen and (min-width:401px) and (max-width:1500px) {
	.swiper {
		width: 100%;
		height: 50%;
		--swiper-pagination-color: #16baaa;
		--swiper-navigation-color: #ffffff;
		--swiper-navigation-size: 60px;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.footer-line {
		width: 30%;
		margin: auto;
	}
}

@media screen and (min-width:1500px) {
	.swiper {
		width: 100%;
		height: 650px;
		--swiper-pagination-color: #16baaa;
		--swiper-navigation-color: #ffffff;
		--swiper-navigation-size: 60px;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.footer-line {
		width: 30%;
		margin: auto;
	}
}


.index-KeyVisual_Twitter {
    position: absolute;
    bottom: 0;
    right: 3.90625vw;
    z-index: 100
}

@media screen and (max-width:768px) {
    .index-KeyVisual_Twitter {
        right: 30px;
		z-index: -1;
    }
}

@media screen and (min-width:960px) {
    .index-KeyVisual_Twitter {
        top: 380px;
        bottom: auto
    }
}

@media screen and (min-width:1200px) {
    .index-KeyVisual_Twitter {
        top: 620px;
        right: 50px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Twitter {
        top: 43.59375vw;
        right: 2.60417vw
    }
}

.index-KeyVisual_Twitter .twitter_link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 24.21875vw;
    height: 24.21875vw;
    border-radius: 50%;
    background-color: #1da1f2;
    box-shadow: 0 1.30208vw 2.60417vw rgba(67, 160, 160, .2);
    transition: transform .2s
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Twitter .twitter_link {
        box-shadow: 0 10px 20px rgba(67, 160, 160, .2)
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Twitter .twitter_link {
        box-shadow: _vwPC(0) _vwPC(10) _vwPC(20) rgba(67, 160, 160, .2)
    }
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Twitter .twitter_link {
        width: 186px;
        height: 186px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Twitter .twitter_link {
        width: 9.6875vw;
        height: 9.6875vw
    }
}

.index-KeyVisual_Twitter .twitter_link:before {
    display: block;
    width: 19.79167vw;
    height: 19.92188vw;
    background-image: url(../img/txt_bilibili_circle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    content: "";
    animation: rotation 60s linear infinite
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Twitter .twitter_link:before {
        width: 152px;
        height: 153px;
        background-image: url(../img/txt_bilibili_circle.png)
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Twitter .twitter_link:before {
        width: 7.91667vw;
        height: 7.96875vw
    }
}

.index-KeyVisual_Twitter .twitter_link:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 7.8125vw;
    height: 6.51042vw;
    background-image: url("../img/icon/bilibili.svg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: ""
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Twitter .twitter_link:after {
        width: 60px;
        height: 50px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Twitter .twitter_link:after {
        width: 3.125vw;
        height: 2.60417vw
    }
}



.index-KeyVisual_Twitter .twitter_link:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.index-Contents {
	position: relative;
}

.index-BilibiliLabel {
	display: none
}

@media screen and (min-width:960px) {
	.index-BilibiliLabel {
		display: block;
		position: absolute;
		top: -40px;
		right: 50px
	}
}

@media screen and (min-width:1921px) {
	.index-BilibiliLabel {
		right: 2.60417vw
	}
}

.index-BilibiliLabel_Link {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	top: 0;
	right: 0;
	z-index: 100
}

.index-BilibiliLabel_Link:after {
	position: absolute;
	top: -38px;
	right: 0;
	width: 127px;
	height: 54px;
	background-image: url(../img/txt_follow-us.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	content: "";
	pointer-events: none
}

@media screen and (min-width:1921px) {
	.index-BilibiliLabel_Link:after {
		top: -1.97917vw;
		width: 6.61458vw;
		height: 2.8125vw
	}
}

.index-BilibiliLabel_Link:hover .label_icon:before {
	background-image: url("../img/icon/bilibili-before.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

.index-BilibiliLabel_Link:hover .label_icon:after {
	-ms-transform: scaleX(1);
	transform: scaleX(1);
	-ms-transform-origin: center left;
	transform-origin: center left
}

.index-BilibiliLabel_Link:hover .label_text {
	color: #fff
}

.index-BilibiliLabel_Link:hover .label_text:before {
	-ms-transform: scaleX(1);
	transform: scaleX(1);
	-ms-transform-origin: center left;
	transform-origin: center left
}

.index-BilibiliLabel_Link.fixed {
	position: fixed;
	top: auto;
	bottom: 40px;
	right: 50px
}

@media screen and (min-width:1921px) {
	.index-BilibiliLabel_Link.fixed {
		right: 2.60417vw
	}
}

.index-BilibiliLabel .label_icon {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #1da1f2
}

@media screen and (min-width:1921px) {
	.index-BilibiliLabel .label_icon {
		width: 3.125vw;
		height: 3.125vw
	}
}

.index-BilibiliLabel .label_icon:before {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 21px;
	background-image: url("../img/icon/bilibili.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	content: "";
	transition: background-image .2s .05s
}

@media screen and (min-width:1921px) {
	.index-BilibiliLabel .label_icon:before {
		width: 1.30208vw;
		height: 1.09375vw
	}
}

.index-BilibiliLabel .label_icon:after {
	position: absolute;
	top: 0;
	left: 0;
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-ms-transform-origin: center right;
	transform-origin: center right;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #fff;
	content: "";
	transition: transform .35s
}

.index-BilibiliLabel .label_text {
	position: relative;
	z-index: 0;
	overflow: hidden;
	width: 180px;
	height: 40px;
	margin-left: -30px;
	padding: 10px 0 0 47px;
	border-radius: 6px;
	font-family: Spartan, sans-serif;
	font-variant-ligatures: none;
	color: #1da1f2;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: .1em;
	background-color: #fff;
	box-shadow: 0 1.30208vw 2.60417vw rgba(67, 160, 160, .2);
	transition: color .2s .08s
}

@media screen and (min-width:768px) {
	.index-BilibiliLabel .label_text {
		box-shadow: 0 10px 20px rgba(67, 160, 160, .2)
	}
}

@media screen and (min-width:1921px) {
	.index-BilibiliLabel .label_text {
		box-shadow: _vwPC(0) _vwPC(10) _vwPC(20) rgba(67, 160, 160, .2)
	}
}

@media screen and (min-width:1921px) {
	.index-BilibiliLabel .label_text {
		width: 13.02083vw;
		height: 2.70833vw;
		margin-left: -1.5625vw;
		padding: 1.04167vw 0 0 2.44792vw;
		border-radius: .3125vw;
		font-size: .9375vw
	}
}

.index-BilibiliLabel .label_text:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-ms-transform-origin: center right;
	transform-origin: center right;
	width: 100%;
	height: 100%;
	background-color: #1da1f2;
	content: "";
	transition: transform .35s .08s
}


.index-KeyVisual_Bubble {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    width: 100%;
    height: 100%;
    pointer-events: none
}

.index-KeyVisual_Bubble.is-animated {
    animation: kv_bubble_fade_down 2s ease-out both
}

.index-KeyVisual_Bubble .bubble {
    position: absolute
}

.index-KeyVisual_Bubble .bubble .inner {
    position: relative;
    top: 0;
    left: 0;
    transition: top 1s ease-out
}

.index-KeyVisual_Bubble .bubble .image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

.index-KeyVisual_Bubble .bubble:nth-child(3n-2) .image {
    animation-name: fuwafuwa_short
}

.index-KeyVisual_Bubble .bubble:nth-child(3n-1) .image {
    animation-name: fuwafuwa
}

.index-KeyVisual_Bubble .bubble:nth-child(3n) .image {
    animation-name: fuwafuwa_long
}

.index-KeyVisual_Bubble .bubble:nth-child(odd) .image {
    animation-duration: 5s
}

.index-KeyVisual_Bubble .bubble:nth-child(even) .image {
    animation-duration: 7s
}

.index-KeyVisual_Bubble .bubble.pink_01 {
    top: 119.79167vw;
    right: 7.8125vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.pink_01 {
        top: 900px;
        right: auto;
        left: 427px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.pink_01 {
        top: 46.875vw;
        left: 22.23958vw
    }
}

.index-KeyVisual_Bubble .bubble.pink_01 .image {
    width: 6.77083vw;
    height: 6.51042vw;
    background-image: url(../img/bubble/img_kv_bubble_pink_01.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.pink_01 .image {
        width: 52px;
        height: 50px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.pink_01 .image {
        width: 2.70833vw;
        height: 2.60417vw
    }
}

.index-KeyVisual_Bubble .bubble.pink_02 {
    top: 47.78646vw;
    left: -1.30208vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.pink_02 {
        top: 282px;
        left: 159px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.pink_02 {
        top: 14.6875vw;
        left: 8.28125vw
    }
}

.index-KeyVisual_Bubble .bubble.pink_02 .image {
    width: 2.21354vw;
    height: 1.95312vw;
    background-image: url(../img/bubble/img_kv_bubble_pink_02.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.pink_02 .image {
        width: 17px;
        height: 15px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.pink_02 .image {
        width: .88542vw;
        height: .78125vw
    }
}

.index-KeyVisual_Bubble .bubble.green_01 {
    top: 138.54167vw;
    right: -4.42708vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.green_01 {
        top: 666px;
        right: -24px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.green_01 {
        top: 34.6875vw;
        right: -1.25vw
    }
}

.index-KeyVisual_Bubble .bubble.green_01 .image {
    width: 8.33333vw;
    height: 8.72396vw;
    background-image: url(../img/bubble/img_kv_bubble_green_01.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.green_01 .image {
        width: 64px;
        height: 67px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.green_01 .image {
        width: 3.33333vw;
        height: 3.48958vw
    }
}

.index-KeyVisual_Bubble .bubble.green_02 {
    top: 38.80208vw;
    left: 1.95312vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.green_02 {
        top: 314px;
        left: 266px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.green_02 {
        top: 11.14583vw;
        left: 13.85417vw
    }
}

.index-KeyVisual_Bubble .bubble.green_02 .image {
    width: 4.55729vw;
    height: 4.29688vw;
    background-image: url(../img/bubble/img_kv_bubble_green_02.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.green_02 .image {
        width: 35px;
        height: 33px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.green_02 .image {
        width: 1.82292vw;
        height: 1.71875vw
    }
}

.index-KeyVisual_Bubble .bubble.yellow_01 {
    top: 16.40625vw;
    right: 28.125vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.yellow_01 {
        top: 87px;
        right: auto;
        left: 540px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.yellow_01 {
        top: 4.53125vw;
        left: 32.39583vw
    }
}

.index-KeyVisual_Bubble .bubble.yellow_01 .image {
    width: 8.20312vw;
    height: 7.94271vw;
    background-image: url(../img/bubble/img_kv_bubble_yellow_01.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.yellow_01 .image {
        width: 63px;
        height: 61px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.yellow_01 .image {
        width: 3.28125vw;
        height: 3.17708vw
    }
}

.index-KeyVisual_Bubble .bubble.yellow_02 {
    top: 128.90625vw;
    right: 19.53125vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.yellow_02 {
        top: 1000px;
        right: 312px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.yellow_02 {
        top: 52.08333vw;
        right: 16.25vw
    }
}

.index-KeyVisual_Bubble .bubble.yellow_02 .image {
    width: 4.55729vw;
    height: 4.42708vw;
    background-image: url(../img/bubble/img_kv_bubble_yellow_02.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.yellow_02 .image {
        width: 35px;
        height: 34px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.yellow_02 .image {
        width: 1.82292vw;
        height: 1.77083vw
    }
}

.index-KeyVisual_Bubble .bubble.yellow_03 {
    top: 189.32292vw;
    left: 43.48958vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.yellow_03 {
        top: 380px;
        left: 65px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.yellow_03 {
        top: 38.54167vw;
        left: 3.38542vw
    }
}

.index-KeyVisual_Bubble .bubble.yellow_03 .image {
    width: 3.38542vw;
    height: 3.125vw;
    background-image: url(../img/bubble/img_kv_bubble_yellow_03.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.yellow_03 .image {
        width: 26px;
        height: 24px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.yellow_03 .image {
        width: 1.35417vw;
        height: 1.25vw
    }
}

.index-KeyVisual_Bubble .bubble.blue_01 {
    top: 156.25vw;
    left: 8.85417vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.blue_01 {
        top: 791px;
        left: -30px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.blue_01 {
        top: 41.19792vw;
        left: -1.5625vw
    }
}

.index-KeyVisual_Bubble .bubble.blue_01 .image {
    width: 7.8125vw;
    height: 7.94271vw;
    background-image: url(../img/bubble/img_kv_bubble_blue_01.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.blue_01 .image {
        width: 60px;
        height: 61px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.blue_01 .image {
        width: 3.125vw;
        height: 3.17708vw
    }
}

.index-KeyVisual_Bubble .bubble.blue_02 {
    top: 27.60417vw;
    right: 2.99479vw
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.blue_02 {
        top: 110px;
        right: 496px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.blue_02 {
        top: 5.72917vw;
        right: 25.83333vw
    }
}

.index-KeyVisual_Bubble .bubble.blue_02 .image {
    width: 4.42708vw;
    height: 4.55729vw;
    background-image: url(../img/bubble/img_kv_bubble_blue_02.png)
}

@media screen and (min-width:768px) {
    .index-KeyVisual_Bubble .bubble.blue_02 .image {
        width: 34px;
        height: 35px
    }
}

@media screen and (min-width:1921px) {
    .index-KeyVisual_Bubble .bubble.blue_02 .image {
        width: 1.77083vw;
        height: 1.82292vw
    }
}

.index-Section_Bubble_Wrapper {
    position: absolute;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    width: 25.26042vw;
    height: 38.80208vw;
    pointer-events: none
}

@media screen and (min-width:768px) {
    .index-Section_Bubble_Wrapper {
        width: 194px;
        height: 298px
    }
}

@media screen and (min-width:1921px) {
    .index-Section_Bubble_Wrapper {
        width: 10.10417vw;
        height: 15.52083vw
    }
}

.index-Section_Bubble_Wrapper.is-animated {
    animation: fade_up .5s ease-out both
}

.index-Section_Bubble .bubble {
    position: absolute
}

.index-Section_Bubble .bubble .inner {
    position: relative;
    top: 0;
    left: 0;
    transition: top 1s ease-out
}

.index-Section_Bubble .bubble .image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

.index-Section_Bubble .bubble:nth-child(1) .image {
    animation-name: fuwafuwa;
    animation-duration: 5s;
    animation-delay: 0s
}

.index-Section_Bubble .bubble:nth-child(2) .image {
    animation-name: fuwafuwa_short;
    animation-duration: 7s;
    animation-delay: .3s
}

.index-Section_Bubble .bubble:nth-child(3) .image {
    animation-name: fuwafuwa;
    animation-duration: 7s;
    animation-delay: 0s
}

.index-Section_Bubble .bubble:nth-child(4) .image {
    animation-name: fuwafuwa_long;
    animation-duration: 5s;
    animation-delay: .3s
}

.index-Section_Bubble .bubble.pink {
    top: 13.80208vw
}

@media screen and (min-width:768px) {
    .index-Section_Bubble .bubble.pink {
        top: 106px
    }
}

@media screen and (min-width:1921px) {
    .index-Section_Bubble .bubble.pink {
        top: 5.52083vw
    }
}

.index-Section_Bubble .bubble.pink .image {
    width: 3.77604vw;
    height: 4.03646vw;
    background-image: url(../img/bubble/img_contents_bubble_pink.png)
}

@media screen and (min-width:768px) {
    .index-Section_Bubble .bubble.pink .image {
        width: 29px;
        height: 31px
    }
}

@media screen and (min-width:1921px) {
    .index-Section_Bubble .bubble.pink .image {
        width: 1.51042vw;
        height: 1.61458vw
    }
}

.index-Section_Bubble .bubble.green {
    top: 21.48438vw
}

@media screen and (min-width:768px) {
    .index-Section_Bubble .bubble.green {
        top: 160px;
		right: 50px;
    }
}

@media screen and (min-width:1921px) {
    .index-Section_Bubble .bubble.green {
        top: 8.59375vw
    }
}

.index-Section_Bubble .bubble.green .image {
    width: 7.42188vw;
    height: 7.03125vw;
    background-image: url(../img/bubble/img_contents_bubble_green.png)
}

@media screen and (min-width:768px) {
    .index-Section_Bubble .bubble.green .image {
        width: 57px;
        height: 54px
    }
}

@media screen and (min-width:1921px) {
    .index-Section_Bubble .bubble.green .image {
        width: 2.96875vw;
        height: 2.8125vw
    }
}

.index-Section_Bubble .bubble.yellow {
    bottom: 0
}

.index-Section_Bubble .bubble.yellow .image {
    width: 4.6875vw;
    height: 4.42708vw;
    background-image: url(../img/bubble/img_contents_bubble_yellow.png)
}

@media screen and (min-width:768px) {
    .index-Section_Bubble .bubble.yellow .image {
        width: 36px;
        height: 34px
    }
}

@media screen and (min-width:1921px) {
    .index-Section_Bubble .bubble.yellow .image {
        width: 1.875vw;
        height: 1.77083vw
    }
}

.index-Section_Bubble .bubble.blue {
    top: 0
}

.index-Section_Bubble .bubble.blue .image {
    width: 2.08333vw;
    height: 1.95312vw;
    background-image: url(../img/bubble/img_contents_bubble_blue.png)
}

@media screen and (min-width:768px) {
    .index-Section_Bubble .bubble.blue .image {
        width: 16px;
        height: 15px
    }
}

@media screen and (min-width:1921px) {
    .index-Section_Bubble .bubble.blue .image {
        width: .83333vw;
        height: .78125vw
    }
}

.index-Section:nth-child(odd) .index-Section_Bubble_Wrapper {
    right: 1.95312vw
}

@media screen and (min-width:768px) {
    .index-Section:nth-child(odd) .index-Section_Bubble_Wrapper {
        right: 15px
    }
}

@media screen and (min-width:960px) {
    .index-Section:nth-child(odd) .index-Section_Bubble_Wrapper {
        right: auto;
        left: 48px
    }
}

@media screen and (min-width:1921px) {
    .index-Section:nth-child(odd) .index-Section_Bubble_Wrapper {
        left: 2.5vw
    }
}

.index-Section:nth-child(odd) .index-Section_Bubble_Wrapper .bubble.pink {
    left: 9.50521vw
}

@media screen and (min-width:768px) {
    .index-Section:nth-child(odd) .index-Section_Bubble_Wrapper .bubble.pink {
        left: 73px
    }
}

@media screen and (min-width:1921px) {
    .index-Section:nth-child(odd) .index-Section_Bubble_Wrapper .bubble.pink {
        left: 3.80208vw
    }
}

.index-Section:nth-child(odd) .index-Section_Bubble_Wrapper .bubble.green {
    left: 0
}

.index-Section:nth-child(odd) .index-Section_Bubble_Wrapper .bubble.yellow {
    right: 0
}

.index-Section:nth-child(odd) .index-Section_Bubble_Wrapper .bubble.blue {
    left: 4.16667vw
}

@media screen and (min-width:768px) {
    .index-Section:nth-child(odd) .index-Section_Bubble_Wrapper .bubble.blue {
        left: 32px
    }
}

@media screen and (min-width:1921px) {
    .index-Section:nth-child(odd) .index-Section_Bubble_Wrapper .bubble.blue {
        left: 1.66667vw
    }
}

.index-Section:nth-child(even) .index-Section_Bubble_Wrapper {
    right: 16.92708vw
}

@media screen and (min-width:768px) {
    .index-Section:nth-child(even) .index-Section_Bubble_Wrapper {
        right: 130px
    }
}

@media screen and (min-width:960px) {
    .index-Section:nth-child(even) .index-Section_Bubble_Wrapper {
        right: 48px
    }
}

@media screen and (min-width:1921px) {
    .index-Section:nth-child(even) .index-Section_Bubble_Wrapper {
        right: 2.5vw
    }
}

.index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble {
    -ms-transform: scaleX(-1);
    transform: scaleX(-1)
}

.index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble.pink {
    right: 9.50521vw
}

@media screen and (min-width:768px) {
    .index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble.pink {
        right: 73px
    }
}

@media screen and (min-width:1921px) {
    .index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble.pink {
        right: 3.80208vw
    }
}

.index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble.green {
    right: 0
}

.index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble.yellow {
    left: 0
}

.index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble.blue {
    right: 4.16667vw
}

@media screen and (min-width:768px) {
    .index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble.blue {
        right: 32px
    }
}

@media screen and (min-width:1921px) {
    .index-Section:nth-child(even) .index-Section_Bubble_Wrapper .bubble.blue {
        right: 1.66667vw
    }
}

.index-Section#service .index-Section_Bubble_Wrapper {
    top: -9.76562vw
}

@media screen and (min-width:768px) {
    .index-Section#service .index-Section_Bubble_Wrapper {
        top: -75px
    }
}

@media screen and (min-width:960px) {
    .index-Section#service .index-Section_Bubble_Wrapper {
        top: auto;
        bottom: -66px
    }
}

@media screen and (min-width:1921px) {
    .index-Section#service .index-Section_Bubble_Wrapper {
        bottom: -3.4375vw
    }
}

.index-Section#company .index-Section_Bubble_Wrapper {
    top: -27.86458vw
}

@media screen and (min-width:768px) {
    .index-Section#company .index-Section_Bubble_Wrapper {
        top: -214px
    }
}

@media screen and (min-width:960px) {
    .index-Section#company .index-Section_Bubble_Wrapper {
        top: auto;
        bottom: -138px
    }
}

@media screen and (min-width:1921px) {
    .index-Section#company .index-Section_Bubble_Wrapper {
        bottom: -7.1875vw
    }
}

.index-Section#recruit .index-Section_Bubble_Wrapper {
    top: -20.3125vw
}

@media screen and (min-width:768px) {
    .index-Section#recruit .index-Section_Bubble_Wrapper {
        top: -156px
    }
}

@media screen and (min-width:960px) {
    .index-Section#recruit .index-Section_Bubble_Wrapper {
        top: auto;
        bottom: -110px
    }
}

@media screen and (min-width:1921px) {
    .index-Section#recruit .index-Section_Bubble_Wrapper {
        bottom: -5.72917vw
    }
}

.st-Footer {
    position: relative;
    padding: 13.02083vw 0;
    background-color: #1d2d44
}

@media screen and (min-width:768px) {
    .st-Footer {
        padding: 80px 0
    }
}

@media screen and (min-width:1921px) {
    .st-Footer {
        padding: 4.16667vw 0
    }
}

.st-Footer_PageTop {
    position: absolute;
    top: -5.20833vw;
    right: 3.90625vw
}

@media screen and (min-width:768px) {
    .st-Footer_PageTop {
        top: -40px;
        right: 50px
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_PageTop {
        top: -2.08333vw;
        right: 2.60417vw
    }
}

.st-Footer_PageTop a.scroll {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 13.02083vw;
    height: 13.02083vw;
    border-radius: 50%;
    background-color: #5bdcdc
}

@media screen and (min-width:768px) {
    .st-Footer_PageTop a.scroll {
        width: 80px;
        height: 80px
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_PageTop a.scroll {
        width: 4.16667vw;
        height: 4.16667vw
    }
}

.st-Footer_PageTop a.scroll:before {
    display: inline-block;
    width: 2.99479vw;
    height: 1.95312vw;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22155%22%20height%3D%22100%22%20viewBox%3D%220%200%20155%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20id%3D%22chevron_x5F_top%22%20d%3D%22M149.339%2094.473c-7.038%207.382-18.451%207.357-25.497%200L77.315%2045.662l-46.56%2048.811c-7.013%207.357-18.434%207.357-25.464%200-7.055-7.407-7.055-19.375%200-26.749L64.55%205.543C67.917%202.024%2072.57%200%2077.315%200c4.737%200%209.389%202.024%2012.74%205.543l59.284%2062.181c3.527%203.687%205.291%208.533%205.291%2013.37%200%204.846-1.764%209.667-5.291%2013.379z%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
    transition: transform .2s
}

@media screen and (min-width:768px) {
    .st-Footer_PageTop a.scroll:before {
        width: 18px;
        height: 12px
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_PageTop a.scroll:before {
        width: .9375vw;
        height: .625vw
    }
}

.st-Footer_PageTop a.scroll:hover:before {
    -ms-transform: translateY(-.52083vw);
    transform: translateY(-.52083vw)
}

@media screen and (min-width:768px) {
    .st-Footer_PageTop a.scroll:hover:before {
        -ms-transform: translateY(-4px);
        transform: translateY(-4px)
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_PageTop a.scroll:hover:before {
        -ms-transform: translateY(-.20833vw);
        transform: translateY(-.20833vw)
    }
}

.st-Footer_Container {
    width: 76.5625vw;
    margin: 0 auto
}

@media screen and (min-width:768px) {
    .st-Footer_Container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 1200px;
        width: calc(100% - 80px)
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_Container {
        max-width: none;
        width: 62.5vw
    }
}

@media screen and (min-width:768px) {
    .st-Footer_Content:nth-child(1) {
        -ms-flex: 1 1 0%;
        flex: 1 1 0%;
        max-width: 600px
    }

    .st-Footer_Content:nth-child(2) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%
    }
}

@media screen and (min-width:960px) and (max-width:1279px) {
    .st-Footer_Content:nth-child(2) {
        width: 30%
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_Content:nth-child(1) {
        max-width: none
    }
}

.st-Footer_Nav {
    margin-bottom: .78125vw
}

@media screen and (min-width:768px) {
    .st-Footer_Nav {
        margin-bottom: 15px
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_Nav {
        margin-bottom: .78125vw
    }
}

.st-Footer_Menu_List {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.st-Footer_Menu_List .menu_item {
    width: 50%;
    margin-bottom: 10.41667vw
}

@media screen and (min-width:768px) {
    .st-Footer_Menu_List .menu_item {
        margin-bottom: 30px
    }
}

@media screen and (min-width:960px) {
    .st-Footer_Menu_List .menu_item {
        width: 25%
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_Menu_List .menu_item {
        margin-bottom: 1.5625vw
    }
}

.st-Footer_Menu_List .menu_link {
    position: relative;
    color: #fff;
    font-size: 3.64583vw;
    letter-spacing: .05em;
    white-space: nowrap
}

@media screen and (min-width:768px) {
    .st-Footer_Menu_List .menu_link {
        font-size: 15px
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_Menu_List .menu_link {
        font-size: .78125vw
    }
}

.st-Footer_Menu_List .menu_link:after {
    position: absolute;
    bottom: -.78125vw;
    left: 0;
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -ms-transform-origin: top right;
    transform-origin: top right;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    content: "";
    transition: transform .2s
}

@media screen and (min-width:768px) {
    .st-Footer_Menu_List .menu_link:after {
        bottom: -6px
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_Menu_List .menu_link:after {
        bottom: -.3125vw
    }
}

.st-Footer_Menu_List .menu_link:hover:after {
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -ms-transform-origin: top left;
    transform-origin: top left
}

.st-Footer_Logo {
    position: relative;
    width: 60vw;
	height: 3vw;
    margin-bottom: 13.02083vw
}

@media screen and (min-width:768px) {
    .st-Footer_Logo {
        top: -14px;
        width: 205px;
        margin-bottom: 0
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_Logo {
        top: -.72917vw;
        width: 10.67708vw
    }
}

.st-Footer_Logo a {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    transition: opacity .2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.st-Footer_Logo a:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
}

.st-Footer_Copyright {
    color: #b3bdbd;
    font-size: 2.60417vw;
    letter-spacing: .05em;
    line-height: 1.5em
}

.st-Footer_Copyright>img {
    width: 50px
}

@media screen and (min-width:768px) {
    .st-Footer_Copyright {
        margin-top: 60px;
        font-size: 11px
    }
}

@media screen and (min-width:1921px) {
    .st-Footer_Copyright {
        font-size: 14px
    }
}

@keyframes fade_up {
    0% {
        transform: translateY(50px);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@keyframes fade_right {
    0% {
        transform: translateX(-50px);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@keyframes fade_left {
    0% {
        transform: translateX(50px);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes fuwafuwa_short {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(14px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes fuwafuwa {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes fuwafuwa_long {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(26px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes kv_bubble_fade_down {
    0% {
        transform: translateY(-100px);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@keyframes index_slider_curtain_start {
    0% {
        transform: scaleX(0);
        transform-origin: center left
    }

    100% {
        transform: scaleX(1);
        transform-origin: center left
    }
}

@keyframes index_slider_curtain_end {
    0% {
        transform: scaleX(1);
        transform-origin: center right
    }

    100% {
        transform: scaleX(0);
        transform-origin: center right
    }
}

@keyframes company_slider_01_sp {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -500vw center
    }
}

@keyframes company_slider_01_pc {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -3840px center
    }
}

@keyframes company_slider_01_full {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -200vw center
    }
}

@keyframes company_slider_02_sp {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -250vw center
    }
}

@keyframes company_slider_02_pc {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -1920px center
    }
}

@keyframes company_slider_02_full {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -100vw center
    }
}