@media screen and (max-device-width:400px){
	.swiper {
	    width: 100%;
	    height: 170px;
		--swiper-pagination-color: #16baaa;
		--swiper-navigation-color: #ffffff;/* 单独设置按钮颜色 */
		--swiper-navigation-size: 30px;/* 设置按钮大小 */
	}  
	.swiper-slide {
	      text-align: center;
	      font-size: 18px;
	      background: #fff;
	      display: flex;
	      justify-content: center;
	      align-items: center;
	    }	
	.swiper-slide img {
	    display: block;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}	
}
@media screen and (min-device-width:401px){
	.swiper {
	    width: 100%;
	    height: 630px;
		--swiper-pagination-color: #16baaa;
		--swiper-navigation-color: #ffffff;/* 单独设置按钮颜色 */
		--swiper-navigation-size: 60px;/* 设置按钮大小 */
	}
	.swiper-slide {
	      text-align: center;
	      font-size: 18px;
	      background: #fff;
	      display: flex;
	      justify-content: center;
	      align-items: center;
	    }
	
	.swiper-slide img {
	    display: block;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
}
