			*{
				padding: 0;
				margin: 0;
				box-sizing: border-box;
			}
			body{
				background: #ccc;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				background-image: linear-gradient(to top,#fad0c4 0%,#ffd1ff 100%);
			}
			.shell{
				position: relative;
				width: 520px;
				border-radius: 0 0 1em 1em;
				box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12pxrgba(0, 0, 0, 0.2);
			}
			.shell header{
				border-radius: 1em 1em 0 0;
				background: #e66b6b;
				color: #fff;
				padding: 3em 2em;
				background-image: url(./calendar/4th.png);
				background-size: cover;
			}
			.day{
				font-size: 8em;
				font-weight: 900;
				line-height: 1em;
				text-shadow: 2px 2px 5px #565656;
			}
			.month{
				font-size: 4em;
				line-height: 1em;
				text-transform: lowercase;
				text-shadow: 2px 2px 5px #565656;
			}
			.calendar{
				width: 100%;
				background: #fff;
				border-radius: 0 0 1em 1em;
				box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
				color: #000;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				padding: 20px;
			}
			.calendar-week{
				color: #e66b6b;
				font-weight: 700;
				text-transform: uppercase;
			}
			.calendar li{
				width: 60px;
				height: 60px;
				border-radius: 50%;
				text-align: center;
				font: 600 17px '';
				transition: 0.2s;
			}
			.calendar ul li:hover{
				background: #da89a2;
				color: #fff;
			}
			.current-day{
				color: #e66b6b;
			}
			.prev-month, 
			.next-month{
				color: #cacaca;
			}
			.ring-left, 
			.ring-right{
				position: absolute;
				top: 256px;
			}
			.ring-left{
				left: 2em;
			}
			.ring-right{
				right: 2em;
			}
			.ring-left:before,
			.ring-right:before{
				background: #fff;
				border-radius: 4px;
				box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
				content: "";
				display: inline-block;
				margin: 8px;
				height: 32px;
				width: 8px;
			}
	        /*上个月的超链接显示样式*/
	        #pre{
	            position: absolute;
	            top: 0px;
	            left: 0px;
	            background: url(./calendar/left.png) no-repeat 50% 50%;
	            /*没规定大小时，图片显示 0X0*/
	            width: 60px;
	            height: 70px;
	        }
	        /*下个月的超链接显示样式*/
	        #next{
	            position: absolute;
	            top: 0px;
	            right: 0px;
	            background: url(./calendar/right.png) no-repeat 50% 50%;
	            width: 60px;
	            height: 70px;
	        }
	        .body-list ul{
	            font-size: 14px;
	            font-family: Arial, Helvetica, sans-serif;
	            font-weight: bold;
	            width: 100%;
	            box-sizing: border-box;
				color: #000;
				font-weight: 700;
				text-transform: uppercase;
	
	        }
	        .body-list li{
				width: 60px;
				height: 60px;
				border-radius: 50%;
				text-align: center;
				font: 600 17px '';
				transition: 0.2s;
	            list-style: none;
	            display: block;
	            width: 14.28%;
	            float: left;
	            /*规定行高，垂直居中*/
	            line-height: 36px;
	            box-sizing: border-box;
	            text-align: center;
	        }
			/*设置已经过去的日期颜色*/
			.lightgrey{
			    color:#a8a8a8;
			}
			/*设置将来的日期颜色*/
			.darkgrey{
			    color:#565656;
			}